framework: net45
source https://api.nuget.org/v3/index.json
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json

nuget Aardvark.Base.Incremental         ~> 3.0.39

nuget Aardvark.Application.WinForms.GL  ~> 3.3.9
nuget Aardvark.Rendering.NanoVg         ~> 3.3.9
nuget Aardvark.SceneGraph               ~> 3.3.9

nuget Unofficial.AssimpNet              ~> 3.3.3

nuget FShade                            ~> 3.2.10

group Build
framework: net45
content: none
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json
source https://api.nuget.org/v3/index.json

github aardvark-platform/aardvark.fake:standalone